.user {
    padding: 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.user picture {
    width:  200px;
    height: 200px;

    border-radius: 12px;
    box-shadow: var(--shadow-image);
    margin-top: -100px; 
    
}

.user picture img {
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.user__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.user__content h1 {
    font-size: 32px;
    color: brown;
}

.user__content p {
    font-size: 18px;
    font-weight: 300;
    color: brown;
}

.user__content h2 {
    font-size: 20px;
    color: brown;
    padding-top: 10px;
    font-weight: 100;
}

.user__content .opacity {
    opacity: 0.1;
}